@import "color";

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

div {
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1;
}
.title {
  text-align: center;
  flex-direction: column;
  margin-bottom: 25px;
  h1 {
    font-size: 48px;
    margin-bottom: 5px;
    span{
      color: $logo;
    }
  }
}
