@import "color";

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
main {
  max-width: 90vw;
}

div {
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1;
}
.title {
  text-align: center;
  flex-direction: column;
  margin-bottom: 25px;
  h1 {
    @media only screen and (max-width: 900) {
      font-size: 32px;
    }
    font-size: 48px;
    margin-bottom: 5px;
    span{
      color: $logo;
    }
  }
}
input {
  width: 100%;
}
