@import "color";

@font-face {
  font-family: Lexend;
  src: url(lexend.ttf);
}

body {
  background: $background;
  color: $text;
  margin: 0;
  padding: 0;
  font-family: Lexend, sans-serif;
}

input {
  background: $input;
  width: 500px;
  color: $text;
  height: 35px;
  padding-left: 15px;
  border: 1px solid $border;
  border-radius: 15px;
}

input:focus {
  outline: none;
}

a {
  color: $text;
  text-decoration: none;
}

footer {
  width: 100%;
  text-align: center;
  padding: 15px;
  background: $navbar;
}
