@import "color"
 
.result {
  background: $result;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}
.result a {
  color: $link;
  text-decoration: none;
}

.result a h2 {
  color: $title;
}

.buttons {
  display:flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
}
.button {
  font-weight: 600;
  color: $logo;
  text-decoration: none;
}

.topbar {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}
nav {
  display: flex;
  background-color: $navbar;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  .logo {
    text-decoration: none;
    display: flex;
    color: $logo;
  }
  input {
    display: flex;
    height: 30px;
  }
}

main {
  padding: 20px;
}

h2 { 
  color: $text;
  span {
    color: $logo;
  }
}


