main {
  max-width: 90vw;
}

.outer {
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1;
}

input {
  background: #414559;
  color: #c6d0f5;
  height: 35px;
  padding-left: 15px;
  border: 1px solid #51576d;
  border-radius: 15px;
  &:focus {
    outline: none;
  }
}

.logo span{
  color: $pink;
}

