.result {
  margin: 20px;
  padding: 10px;

  a {
    color: $subtext1;
    text-decoration: none;
     h2 {
      color: $pink;
      margin-top: 2px;
      font-size: 19px; 
    }
  }
  &:hover {
    border-left: 2px solid $pink;
  }
}

.error {
  margin:30px;
}
