@import "colors.scss";
@import "img.scss";
@import "results.scss";
@import "home.scss";
@import "header.scss";

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: $base;
  color: $text;
}
