.result {
    margin: 20px;
    padding: 10px;
}

.result a {
    color: var(--subtex1);
    text-decoration: none;
}
.result h2 {
    color: var(--pink);
    margin-top: 2px;
    font-size: 19px;
}
.result:hover {
    border-left: 2px solid var(--pink);
}
.error {
    margin: 30px;
}
