<!DOCTYPE html>
<html lang="en">

<head>
  <title>Schizosearch</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  {% block content %}{% endblock %}
  {% let (style_sheet, class_name) = turf::inline_style_sheet!("style/main.scss") %}

  <footer>
    <a href="https://sioodmy.dev">made by sioodmy :3</a>
    <a href="https://github.com/sioodmy/schizosearch">source</a></div>
    <a href="https://ko-fi.com/sioodmy">donate</a></div>
  </footer>
  <style>
    {{style_sheet}}
  </style>

</body>

</html>
