{% let (style_sheet, class_name) = turf::inline_style_sheet!("style/results.scss") %}

<nav>
  <div class="{{ class_name.topbar }}">
    <a class="{{ class_name.logo }}" href="/">
      <h2><span>SchizoSearch</span> :3</h2>
    </a>
    <form action="/search" method="get">
      <input type="text" name="q" value="{{ query }}" autofocus>
    </form>
  </div>
  <div class="{{ class_name.buttons}}">
    <a class="{{ class_name.button }}" href="/search?q={{ query }}">General</a>
    <a class="{{ class_name.button }}" href="/search?q={{ query }}&t=img">Images</a>
    <a class="{{ class_name.button }}" href="/search?q={{ query }}&t=vid">Videos</a>
    <a class="{{ class_name.button }}" href="/search?q={{ query }}&t=torrent">Torrents</a>
  </div>
</nav>