:root {
  --base: #303446;
  --mantle: #292c3c;
  --text: #c6d0f5;
  --pink: #f4b8e4;
  --surface0: #414559;
  --subtext1: #b5bfe2;
}

.gallery {
  margin: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.pic {
  padding: 1rem;
  border: 1px solid var(--surface0);
  border-radius: 10px;
  overflow: hidden;
}
.pic a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  color: var(--text);
}
.pic > a > img {
  border-radius: 10px;
}

.error {
  margin:30px;
}
.logo span{
  color: var(--pink) !important;
}

.selected {
  border-bottom: 1px solid var(--pink);
}

header {
  padding: 20px;
  border-bottom: 1px solid var(--surface0);
}
header input {
  width: 450px;
}
header a {
  text-decoration: none;
  font-size: 20px;
  color: var(--text);
  font-weight: 500;
}
header h1 {
  font-size: 30px;
}
header nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 630px) {
  nav {
    flex-direction: column;
  }
  header input {
    width: 100%;
    margin-top: 1rem;
  }
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--base);
  color: #c6d0f5;
}

main {
  max-width: 90vw;
}

/* results */
.result {
  margin: 20px;
  padding: 10px;
}
.result:hover {
  border-left: 2px solid var(--pink);
}
.result > a > h2{
  color: var(--pink);
  margin-top: 2px;
  font-size: 19px; 
}
.result > a{
  color: var(--subtext1);
  text-decoration: none;
}


.outer {
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1;
}

input {
  background: #414559;
  color: #c6d0f5;
  height: 35px;
  padding-left: 15px;
  border: 1px solid #51576d;
  border-radius: 15px;
}

input:focus {
  outline: none;
}
