$base: #303446;
$mantle: #292c3c;
$text: #c6d0f5;
$pink: #f4b8e4;
$surface0: #414559;
$subtext1: #b5bfe2;

@mixin mobile {
  @media (max-width: 630px) { @content; }
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: $base;
  color: $text;
}

.gallery {
  margin: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.pic {
  padding: 1rem;
  border: 1px solid $surface0;
  border-radius: 10px;
  overflow: hidden;
  a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: var(--text);
    img {
      border-radius: 10px;
    }
  }
}

.error {
  margin:30px;
}

header {
  padding: 20px;
  border-bottom: 1px solid $surface0;
  input {
    width: 450px;
    @include mobile {
      width: 100%;
      margin-top: 1rem;
    }
  }
  h1 { font-size: 30px; }
  nav {
    display: flex;
    align-items: center;
    gap: 20px;
    @include mobile {
      flex-direction: column;
    }
  }
  .category {
    text-decoration: none;
    font-size: 20px;
    color: $text;
    font-weight: 500;
  }
  .selected {
    border-bottom: 1px solid $pink;
  }
  .logo span{
    color: $pink;
  }
}


main {
  max-width: 90vw;
}

.result {
  margin: 20px;
  padding: 10px;

  a {
    color: $subtext1;
    text-decoration: none;
     h2 {
      color: $pink;
      margin-top: 2px;
      font-size: 19px; 
    }
  }
  &:hover {
        border-left: 2px solid $pink;
  }
}

.outer {
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1;
}

input {
  background: #414559;
  color: #c6d0f5;
  height: 35px;
  padding-left: 15px;
  border: 1px solid #51576d;
  border-radius: 15px;
  &:focus {
    outline: none;
  }
}

